{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="h2 mb-4 text-center">Авторизация на сайте</h2>
    <div class="row">
        <div class="col-12 col-md-5 me-auto ms-auto">
            <noindex>
            <form method="post" action="{% url 'user:login' %}">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        {{field.label}}: {{ error|escape }}
                    {% endfor %}
                    <div class="mb-4">{{ field }}</div>
                {% endfor %}
                <div class="mb-3">
                    <button style="width: 100%;" 
                    type="submit" class="btn btn-lg btn-secondary">
                    Авторизоваться</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'user:register' %}" rel="nofollow">Зарегистрироваться</a>
                </div>
            </form>
            </noindex>
        </div>
    </div>
{% endblock %}